@import "../../../variables.scss";
.save-button {
  background: $boardColor;
  height: 25px;
  width: 100px;
  outline: none;
  border: none;
  color: #b79145;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
  outline: none;
  margin-left: 800px;

  &:hover {
    cursor: pointer;
  }
  &:active {
  }
}
