.button-green {
  background: radial-gradient(#a5ff8a, #009c03);
  filter: blur(1px);
  box-shadow: 0 0 5px #06670d;
}

.button-red {
  background: radial-gradient(#fea8a8, #780000);
  filter: blur(1px);
  box-shadow: 0 0 5px #560d0d;
}
