@import "../../variables.scss";
.buttons {
  margin-top: 30px;
  &__button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 40px;

    &__text {
      font-size: larger;
      font-weight: 700;
    }
  }
}

.button-red {
  color: rgb(181, 43, 15);
  background: radial-gradient(#39030313, #af00001f) !important;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8),
    inset -2px -2px 20px rgba(255, 255, 255, 0.05),
    inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}
