@import "../../variables.scss";
.instrumentBoard {
  color: #b79145;
  width: 1000px;
  background: $boardColor;
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  &__slotRow {
    display: flex;
    margin-bottom: 10px;
  }
  &__board-buttons {
    display: flex;
  }
}
.logo {
  margin-bottom: 30px;
}
